@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
// @import './sidebar.scss';
@import './header.scss';
@import './css-animate.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  // font-family: Microsoft YaHei;
  // overflow-x: hidden;
  // min-width: 1240px;
  margin: 0;
}

@media  screen and (min-width: 1280px) {
  html {
    box-sizing: border-box;
    font-size:62.5%; // 10÷16=62.5%
  }
}
@media  screen and (max-width: 1280px) {
  html {
    box-sizing: border-box;
    font-size:50%; // 10÷20=62.5%

  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
footer {
  line-height: 60px;
  height: 60px;
  color: #888;
  background-color: #EAEAEA;
  text-align: center;
}

.text_center{
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_left {
  text-align: left;
}
.float_right{
  float: right !important;
}
.float_left{
  float: left !important;
}


.small{
  font-size: small;
}
.smaller{
  font-size: smaller;
}
.font_color_grey{
  color: #7c7a7a;
}
.font_color_grey2{
  color: #9d9a96;
}

.font_color_grey3{
  color: #494747;
}
.font14{
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
}
.font15{
  font-size: 15px;
  font-size: 1.5rem;
}
.font16{
  font-size: 16px;
  font-size: 1.6rem;
}
.font17{
  font-size: 17px;
  font-size: 1.7rem;
}
.font18{
  font-size: 18px;
  font-size: 1.8rem;
}
.font19{
  font-size: 19px;
  font-size: 1.9rem;
}
.font20{
  font-size: 20px;
  font-size: 2.0rem;
}
.font25{
  font-size: 25px;
  font-size: 2.5rem;
}
.font36{
  font-size: 36px;
  font-size: 3.6rem;
}
.font28{
  font-size: 28px;
  font-size: 2.8rem;
}
.font29{
  font-size: 29px;
  font-size: 2.9rem;
}
.font30{
  font-size: 30px;
  font-size: 3.0rem;
}
.font32{
  font-size: 32px;
  font-size: 3.2rem;
}

.inline_flex{
  display: inline-flex;
}
.nowrap{
  white-space: nowrap;
}

.nomargin{
  margin: 0;
}
.f-bold{
  font-weight: bold;
}
img{
  width: 100%;
}
ol, ul {
  list-style: none;
}
li {
  list-style: none;
}
//自定义button样式
.custom_button_blue{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.rcs-chat-wrapper {
  z-index: 1003;
}
// 文档页面展示 json字符串
.JSONhtmlStyle {
  outline: 1px solid #ccc; 
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}


.zc-advice-icon-btn-title{
  border: 1px solid #000 !important;
  font-size: 16px !important;
  color: #000 !important;
}

.nlp-cont{
  min-height: 900px;
}
.dataset-container .service_class{

  min-height: 700px;
}

.overUnderLine{
  cursor: pointer;
  &:hover{
    text-decoration:underline;
  }
}
// 下拉框样式
.el-popper[x-placement^=bottom] .popper__arrow{
  display: none !important;
  top: 0 !important;
}